extends layout
block content

   link(rel='stylesheet', href='/stylesheets/style.css')



   script.
      var config_obj = !{JSON.stringify(config_obj)};
      var state_obj = !{JSON.stringify(state_obj)};

   script(src="/javascripts/source.js")


   .container

      br
      br

      .btn.btn-default.btn-lg#doneButton(name="top", onclick='getPage()') Back

      h3
         a(href="https://fingertips.phe.org.uk/profile/inhale", target="blank") Source


      p The original Public Health England source data can be found #{" "}
         span
            a(href="https://fingertips.phe.org.uk/profile/inhale", target="blank") here
         span .

      p Below are the Public Health England descriptions of the data.

      ul(style='list-style-type:circle')
         li
            a(href="#Estimated prevalence of COPD (all ages)") Estimated prevalence of COPD (all ages)
         li
            a(href="#COPD: QOF prevalence (all ages)") COPD: QOF prevalence (all ages)
         li
            a(href="#Total COPD admissions per 1,000 population") Total COPD admissions per 1,000 population
         li
            a(href="#Emergency COPD admissions per 1,000 population") Emergency COPD admissions per 1,000 population

      hr

      //----------------



      h2
         a(name="Estimated prevalence of COPD (all ages)") Estimated prevalence of COPD (all ages)

      a(href="#top") Top of page
       span  |
       span
         a(style="cursor: pointer", onclick='getPage()') Return to report

      h4 Indicator
      p Modelled estimate of the prevalence of Chronic Obstructive Pulmonary Disease (all ages)

      h4 Definition
      p The estimated percentage of people with Chronic Obstructive Pulmonary Disease. These estimates of the prevalence of COPD have been calculated using a model developed at the Dept of Primary Care and Social Medicine, Imperial College, London. The model was developed using data from the 2001 Health Survey for England. The model takes into account age, sex, ethnicity, smoking status, rurality and deprivation score. Ethnicity is defined as White (including mixed and other ethnicities), Black or Asian. Full details can be found in the technical documentation. Local authority and PCT results: 2009 mid-year population estimates by age, sex and ethnic group provided by ONS, smoking status from Integrated Household Survey 2010/11 provided by Dept of Health, IMD 2010 scores provided by DCLG, urban/rural classification from DEFRA. GP practice results: 2011 population by age and sex from Attribution Data Set (ADS) provided by Dept of Health, ethnic distribution of population derived from Hospital Episode Statistics by erpho, smoking status at Local Authority level from Integrated Household Survey 2010/11 provided by Dept of Health, weighted IMD2010 score of practice population provided by Dept of Health, MSOA urban/rural classification from DEFRA.

      h4 Value type
      p Proportion

      h4 Unit
      p %

      h4 Rationale
      p NA

      h4 Data source
      p ERPHO

      h4 Indicator production
      p NA

      h4 Definition of numerator
      p NA

      h4 Source of numerator
      p NA

      h4 Definition of denominator
      p NA

      h4 Source of denominator
      p NA

      h4 Methodology
      p NA

      h4 Confidence interval details
      p NA

      h4 Disclosure control
      p NA

      h4 Rounding
      p NA

      h4 Caveats
      p NA

      h4 Notes
      p Note that files published at PHO Disease Prevalence Estimates contain prevalence aged 16+ for Local Authorities and PCTs. The prevalence displayed in this tool is calculated for all ages using the same numerator and an adjusted denominator. It is assumed that prevalence aged <16 yrs is 0%.

      h4 Copyright
      p NA


      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      hr


      //----------------



      h2
        a(name="COPD: QOF prevalence (all ages)") COPD: QOF prevalence (all ages)

      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      h4 Indicator
      p COPD QOF prevalence (all ages)

      h4 Definition
      p The percentage of patients with COPD, as recorded on practice disease registers.

      h4 Value type
      p Proportion

      h4 Unit
      p %

      h4 Rationale
      p Chronic Obstructive Pulmonary Disease (COPD) is a common disabling condition with a high mortality. The most effective treatment is smoking cessation. Oxygen therapy has been shown to prolong life in the later stages of the disease and has also been shown to have a beneficial impact on exercise capacity and mental state. Some patients respond to inhaled steroids. Many patients respond symptomatically to inhaled beta agonists and anti-cholinergics. Pulmonary rehabilitation has been shown to produce an improvement in quality of life. The majority of patients with COPD are managed by GPs and members of the primary healthcare team with onward referral to secondary care when required.

      h4 Data source
      p HSCIC (QOF)

      h4 Indicator production
      p Public Health England, Knowledge and Intelligence Team (East)

      h4 Definition of numerator
      p Patients with COPD as recorded on practice disease register.

      h4 Source of numerator
      p HSCIC (QOF)

      h4 Definition of denominator
      p Total practice list size

      h4 Source of denominator
      p HSCIC (QOF)

      h4 Methodology
      p Data aggregation: GP practice to CCG

      h4 Confidence interval details
      p Wilson Score method, 95% CI

      h4 Confidence interval methodology
      p A confidence interval is a range of values that is used to quantify the imprecision in the estimate of a particular indicator. Specifically it quantifies the imprecision that results from random variation in the measurement of the indicator. A wider confidence interval shows that the indicator value presented is likely to be a less precise estimate of the true underlying value. The Wilson Score method gives very accurate approximate confidence intervals for proportions and odds based on the assumption of a Binomial distribution. It can be used with any data values, even when the denominator is very small and, unlike some methods, it does not fail to give an interval when the numerator count, and therefore the proportion, is zero. The Wilson Score method is the preferred method for calculating confidence intervals for proportions and odds, but it can also be used for rates, as long as the event rate is low (relatively rare events within the population) as the Binomial distribution is a very good approximation to the Poisson distribution when the event rate is low. The method is described in detail in APHO Technical Briefing 3: Commonly used public health statistics and their confidence intervals.

      h4 Disclosure control
      p NA

      h4 Rounding
      p NA

      h4 Caveats
      p NA

      h4 Notes
      p NA

      h4 Copyright
      p Re-used with the permission of the Health and Social Care Information Centre (HSCIC). All rights reserved.

      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      hr

      //----------------

      h2
         a(name= "Total COPD admissions per 1,000 population")  Total COPD admissions per 1,000 population

      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      h4 Indicator
      p Total COPD admissions per 1,000 population

      h4 Definition
      p The crude rate for all inpatient and day case admissions for COPD, per 1,000 practice population

      h4 Value type
      p Crude rate

      h4 Unit
      p per 1,000

      h4 Rationale
      p NA

      h4 Data source
      p HSCIC (NHS Comparators)

      h4 Indicator production
      p Public Health England, Knowledge and Intelligence Team (East)

      h4 Definition of numerator
      p Count of completed spells and sum of PbR tariff where patient classification is inpatient (1) or day case (2) and ICD10 primary diagnosis code is in range J40-J44.

      h4 Source of numerator
      p HES

      h4 Definition of denominator
      p Population based on GP list data

      h4 Source of denominator
      p QOF

      h4 Methodology
      p Data aggregation: GP practice to CCG

      h4 Confidence interval details
      p Dobson & Byar's methods, 95% CI

      h4 Confidence interval methodology
      p A confidence interval is a range of values that is used to quantify the imprecision in the estimate of a particular indicator. Specifically it quantifies the imprecision that results from random variation in the measurement of the indicator. A wider confidence interval shows that the indicator value presented is likely to be a less precise estimate of the true underlying value. Dobson & Byar’s method is used for calculating confidence intervals for directly standardised rates. A confidence interval is calculated for the observed total count of events using Byar’s method, which gives very accurate approximate confidence intervals for counts based on the assumption of a Poisson distribution and is sufficiently accurate for counts as low as 5 (below 5, an exact method should be used, based on Poisson tables or the Chi-squared distribution). This interval is then weighted and scaled to give the interval for the standardised rate using the method described by Dobson. The method is described in detail in APHO Technical Briefing 3: Commonly used public health statistics and their confidence intervals.

      h4 Disclosure control
      p NA

      h4 Rounding
      p NA

      h4 Caveats
      p NA

      h4 Notes
      p NA

      h4 Copyright
      p Re-used with the permission of the Health and Social Care Information Centre (HSCIC). All rights reserved.


      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      hr

      //----------------


      h2
        a(name="Emergency COPD admissions per 1,000 population") Emergency COPD admissions per 1,000 population

      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      h4 Indicator
      p The crude rate for emergency inpatient and emergency day case admissions for COPD, per 1,000 practice population

      h4 Definition
      p Emergency COPD admissions per 1,000 population

      h4 Value type
      p Crude rate

      h4 Unit
      p per 1,000

      h4 Rationale
      p NA

      h4 Data source
      p HSCIC (NHS Comparators)

      h4 Indicator production
      p INHALE

      h4 Definition of numerator
      p Count of completed spells and sum of PbR tariff where admission method is emergency (21, 22, 23, 24, 28), patient classification is inpatient (1) and ICD10 primary diagnosis code is in range J40-J44.

      h4 Source of numerator
      p HES

      h4 Definition of denominator
      p Population based on GP list data.

      h4 Source of denominator
      p QOF

      h4 Methodology
      p Data aggregation: GP practice to CCG

      h4 Confidence interval details
      p Dobson & Byar's methods, 95% CI

      h4 Confidence interval methodology
      p A confidence interval is a range of values that is used to quantify the imprecision in the estimate of a particular indicator. Specifically it quantifies the imprecision that results from random variation in the measurement of the indicator. A wider confidence interval shows that the indicator value presented is likely to be a less precise estimate of the true underlying value. Dobson & Byar’s method is used for calculating confidence intervals for directly standardised rates. A confidence interval is calculated for the observed total count of events using Byar’s method, which gives very accurate approximate confidence intervals for counts based on the assumption of a Poisson distribution and is sufficiently accurate for counts as low as 5 (below 5, an exact method should be used, based on Poisson tables or the Chi-squared distribution). This interval is then weighted and scaled to give the interval for the standardised rate using the method described by Dobson. The method is described in detail in APHO Technical Briefing 3: Commonly used public health statistics and their confidence intervals.

      h4 Disclosure control
      p NA

      h4 Rounding
      p NA

      h4 Caveats
      p NA

      h4 Notes
      p NA

      h4 Copyright
      p Re-used with the permission of the Health and Social Care Information Centre (HSCIC). All rights reserved.


      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      hr

      div
           .btn.btn-default.btn-lg#doneButton(onclick='getPage()') Back
